*/__pycache__/
__pycache__/
examples/pyoptsparse_test.py
venv/
*.egg-info/
flume_venv/
*test_paropt/
*.pdf
*.log
tests/rosenbrock_*/
tests/thomson_problem*/
docs/_build/
dist/*
.vscode/
tests/cantilever_beam*/
**/*_out/